.logo {
  width: 50px;
  float: left;
  margin-right: 15px;
}

.form-group {
  max-width: 100%;
}

.actions {
  padding: 10px 0;
}

.glyphicon-euro {
  font-size: 12px;
}

.left-col {
  display: inline-block;
  width: 50%;
}

.right-col {
  display: inline-block;
  width: 49%
}

.clear-col {
  clear: both;
}
